<!DOCTYPE html>
<html>
  <head>
    <title>MariosSpecialtyFoods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <div class="jumbotron">
      <h1 class="display-4">Mario's Plumbing and Pastry Shoppe</h1>
      <p class="lead"> <% if @lead %> <%= @lead %> <% end %> </p>
      <hr class="my-4">
      <a href="/products">View All Products</a>
    </div>
      <%= yield %>

  </body>
</html>
